:root {
  --violet: #A77FDD;
  --vert: #A7C830;
  --pourpre: #AC3053;
  --fontColor: #4B7388;
  --bordure: #95A3AB;
  --transition: 0.5s all ease-in-out;
  --radius: 8px;
}

html, body {
  overflow-x: clip;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: -0.02em;
  line-height: 1.4;
  color: var(--fontColor);
}

* {
  box-sizing: border-box;
}

.container {
  width: min(100vw - 24px, 1457px);
  margin: 0 auto;
}
.container--flex {
  display: flex;
  justify-content: space-between;
  gap: 70px;
}
@media (max-width: 1000.01px) {
  .container--flex {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius);
}

figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

h2 {
  font-weight: normal;
  font-size: 35px;
  position: relative;
}
h2 strong {
  font-weight: bold;
  font-size: 55px;
  line-height: 77px;
}
h2::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 200px;
  height: 3px;
  background: var(--vert);
}
@media (max-width: 1000.01px) {
  h2 {
    display: block;
    text-align: center;
  }
  h2 strong {
    display: block;
  }
  h2:after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.header__bottom nav ul {
  display: flex;
}
.footer__bottom ul {
  display: flex;
}
.wysiwyg a:not([class]) {
  text-decoration: underline;
}
.wysiwyg > * {
  margin-bottom: 20px;
}
.wysiwyg ul:not([class]) {
  list-style-type: none;
  padding-left: 0;
}
.wysiwyg iframe {
  aspect-ratio: 16/9;
}
.table-responsive {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  border-spacing: 0;
}

input[type=submit], button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}

input[type=checkbox], input[type=radio] {
  accent-color: var(--rouge);
}

.btn {
  background: var(--pourpre);
  border: 2px solid var(--pourpre);
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  padding: 20px 42px;
  border-radius: 50px;
  transition: var(--transition);
}
.btn:hover {
  color: var(--pourpre);
  background: #FFFFFF;
}

.type {
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  line-height: 1;
  border-radius: 50px;
  font-size: 17px;
  padding: 12px 17px 8px;
  background: var(--fontColor);
  letter-spacing: 0.05em;
  transition: var(--transition);
}

.sidebar-block ul {
  padding-left: 0;
  list-style-type: none;
}
.sidebar-block ul li {
  padding-left: 25px;
  border-bottom: 2px solid var(--rouge);
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
}
.sidebar-block ul li::before {
  font-family: "Font Awesome 6 Pro", fantasy;
  position: absolute;
  left: 0;
  top: 0;
}
.sidebar-block ul.documents li::before {
  content: "\f15c";
}
.sidebar-block ul.liens li::before {
  content: "\f35d";
}

.biens {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.biens::before {
  content: "";
  position: absolute;
  top: calc(100% - 355px);
  left: 355px;
  width: 2554px;
  height: 1014px;
  background: url(../img/autres/fond.webp) no-repeat;
  z-index: -1;
}
@media (max-width: 1000.01px) {
  .biens {
    grid-template-columns: 1fr;
  }
}
.biens h2 {
  grid-column: 1/-1;
  padding-left: 40px;
  width: 100%;
}
@media (max-width: 1000.01px) {
  .biens h2 {
    padding-left: 0;
  }
}
.biens__cta {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.bien-teaser {
  position: relative;
  z-index: 3;
  display: block;
  background: transparent;
  padding: 10px 25px 25px;
  border-radius: calc(var(--radius) * 2);
  transition: var(--transition);
}
.bien-teaser h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  margin-block: 5px;
}
.bien-teaser .card {
  position: relative;
  max-width: 660px;
}
.bien-teaser .card .type {
  position: absolute;
  top: 17px;
  left: 17px;
}
.bien-teaser .card .meta {
  position: absolute;
  right: 17px;
  top: 17px;
}
.bien-teaser .card figure {
  position: relative;
}
.bien-teaser .card figure img {
  opacity: 1;
  transition: var(--transition);
}
.bien-teaser .card figure figcaption {
  position: absolute;
  bottom: -1px;
  left: -1px;
  font-weight: 600;
  font-size: 20px;
  background: white;
  padding: 12px 20px;
  display: inline-flex;
  align-items: center;
  gap: 7px;
  transition: color, background-color 0.5s ease-in-out;
  border-radius: 0 16px 0 0;
}
.bien-teaser .card figure figcaption svg {
  margin-top: -4px;
}
.bien-teaser .card figure figcaption path {
  fill: var(--fontColor);
  transition: fill 0.2s ease-in-out;
}
.bien-teaser:hover {
  color: #FFFFFF;
  background: var(--vert);
}
.bien-teaser:hover .meta-datas {
  color: var(--fontColor);
  border-color: var(--pourpre);
}
.bien-teaser:hover .meta-commune {
  background: var(--pourpre);
}
.bien-teaser:hover .type {
  background: var(--pourpre);
}
.bien-teaser:hover .card figure img {
  opacity: 0.7;
}
.bien-teaser:hover .card figure figcaption {
  color: white;
  background: var(--vert);
}
.bien-teaser:hover .card figure figcaption path {
  fill: white;
}
@media (max-width: 1000.01px) {
  .bien-teaser svg {
    display: none;
  }
  .bien-teaser .card .type {
    top: 67px;
    left: auto;
    right: 17px;
  }
}

.meta {
  height: 37px;
  display: flex;
  align-items: stretch;
}
.meta-commune {
  display: flex;
  align-items: center;
  padding-left: 17px;
  gap: 7px;
  padding-right: 14px;
  background: var(--vert);
  border-radius: 50px 0 0 50px;
  color: white;
  font-size: 18px;
  transition: var(--transition);
}
.meta-datas {
  font-weight: 500;
  font-size: 18px;
  display: flex;
  padding-right: 13px;
  padding-left: 13px;
  padding-top: 2px;
  gap: 7px;
  align-items: center;
  background: white;
  border: 1px solid var(--bordure);
  border-left: 0;
  border-radius: 0 50px 50px 0;
  transition: var(--transition);
}
.meta-datas > div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.meta-datas > div svg {
  margin-top: -5px;
}

/*# sourceMappingURL=styles.css.map */
